/* Colors Styles for webauro_inner */

html, body {
	/*background: #FFFFFF url('../images/cont3.jpg') repeat-x;*/
	background: #D9DEE7 url('../images/background.jpg') repeat-x;
	/*background: #C5D7E6 url('../images/background.png') repeat-x;*/
}

h1, h1 a {
	color: #FFD700;
}

h1 small {
	color: #BDB76B;
}

h2 {
	background: #FDFEFF url('../images/conth2.jpg') repeat-x;
	border-bottom: 1px #DCDCDC solid;
}

h5 {
	color: #000000;
}

.none {
	background: none;
	border: 0;
}

#wrapper {
	background-color: #FFFFFF;
	color: #333333;
	border: 7px #F0F8FF solid;
}

#logo {
	/* */
	background-image: url('../images/logo.png');
	background-repeat: no-repeat;
	background: Transparent;
}

#flashad {
	background-image: url('../images/lt.jpg');
	background-repeat: no-repeat;
	background-position: right;		background: none;
}

#headertop {
	background-image: url('../images/head.jpg');
	background-repeat: repeat-x;
	border-top: 1px #DCDCDC solid;
}

#headerbottom {
	background: #000000 url('../images/htile2.jpg') repeat-x;
	background-repeat: repeat-x;
	border-bottom: 1px #CCCCCC solid;
}

#menu ul li a {
	color: #F8F8FF;
}

#introcontainer, div.container {
	border-top: 1px #DCDCDC solid;
	border: 1px #EDEDED solid;
}

div.ybar {
	background-image: url('../images/conth3.jpg');
	background-repeat: repeat-x;
}

div.bbar {
	background-image: url('../images/conth2.jpg');
	background-repeat: repeat-x;
}

#services {
	background-color: #FFFFFF;
}

div.services {
	border: 1px #EDEDED solid;
	background: #FFFFFF url('../images/cont3.jpg') repeat-x;
}

div.services h3 {
	background: #B1B0B5 url('../images/cont.jpg') repeat-x;
	border-bottom: 1px #DCDCDC solid;
	color: #A52A2A;
}

#introcontainer h4, div.services h4 {
	color: #A52A2A;
}

div.container {
	background: #FFFFFF url('../images/cont3.jpg') repeat-x;
}

div.container h3 {
	background: #FED700 url('../images/conth3.jpg') repeat-x;
	border-bottom: 1px #DCDCDC solid;
}

ul.nav li {
	border-bottom: 1px #EEEEEE solid;
}

ul.nav li a {
	color: #000000;
}

#footer {
	background: #000000 url('../images/htile2.jpg') repeat-x;
	border-bottom: 1px #CCCCCC solid;
	color: #FFFFFF;
}

#footer a {
	color: #A5A5A5;
}

#footer table {
	color: #FFFFFF;
}

fieldset {
	border: 1px #DCDCDC solid;
}

legend {
	color: #778899;
}

#webcontainer {
	background-image: url('../images/webbox.jpg');
	background-repeat: repeat;
	/*background: #F5F5F5;*/
}

#softcontainer {
	background-image: url('../images/soft.jpg');
	background-repeat: no-repeat;
	background: #F5F5F5;
}

.brown {
	color: #A52A2A;
}

.yellow {
	color: #FFFF00;
}

.white {
	color: #FFFFFF;
}

.whitesmoke {
	color: #F5F5F5;
}

.black {
	color: #000000;
}

.red {
	color: #FF0000;
}

.gold {
	color: #FFD700;
}

.orange {
	color: #FFA500;
}

.steelblue {
	color: #4682B4;
}

.gray {
	color: #778899;
}

small {
	color: #778899;
}

div.code {
	background: #F0F8FF;
	color: #A52A2A;
	border: 1px #B0C4DE solid;
}

#regform span {
	color: #FF0000;
}

table.fcategory {
	background: #F5F5F5;
}

table.fcategory th {
	background-color: #778899;
	color: #F5F5F5;
	border: 1px #333333 solid;
}

table.commentform input, table.commentform textarea {
	border: 1px #DCDCDC solid;
}

table.comments td {
	border-bottom: 1px #DCDCDC solid;
}

