/* Fonts Styles for webauro_inner */

h1 {
	font-size: 2em;
}

h1 small {
	font-size: 0.6em;
}

h2 {
	font-size: 1.2em;
	font-weight: normal;
}

h4 {
	font-size: 1.7em;
	font-weight: normal;
}

h5 {
	font-size: 1.3em;
	font-weight: normal;
}

table {
	/*font: normal 1em "Times New Roman", Arial, Sans, Verdana, "Trebuchet Ms";*/
}

body, #wrapper {
	font: normal 0.9em Sans, Arial, "Times New Roman", Verdana, "Trebuchet Ms";
}

table {
	font-size: 1em;
}

ul.menu {
	font-size: 1em;
}

#menu ul li {
	font-weight: normal;
	font-size: 1em;
}

#search input {
	font-size: 0.9em;
}

div.services h3 {
	font-size: 1.2em;
	font-weight: normal;
}

div.container h3 {
	font-size: 1.2em;
	font-weight: normal;
}

ul.nav li, ul.links li {
	font-weight: normal;
	font-size: 1em;
}

legend {
	font-size: 1em;
}

input.button {
	font-size: 1.2em;
}

small {
	font-size: 1em;
}

#footer table {
	font-size: 0.9em;
}

div.code {
	font-size: 0.85em;
}

#commentform table, table.comments {
	font-size: 0.95em;
}

table.fcategory {
	
}

