/* Layout Styles for webauro_inner */

body {
	margin: 0;
	padding: 0;
	text-align: center;
}

* {
	padding: 0;
	margin: 0;
}

h1,h2,h3,h4,h5,h6,form,blockquote,p {
	padding: 0.25em;
}

h1 {
	padding: 0 10px;
}

h1 small {
	margin-left: 0;
}

h2 {
	padding: 10px;
}

h5 {	
	padding: 0.5em 0 0 0;
}

p {
	padding: 10px;
}

a {
	text-decoration: none;
	color: #4682B4;
}

a:hover {
	text-decoration: underline;
}

.inside, .para {
	padding: 10px;
}

.paratop {
	padding: 10px 0 0 0;
}

.parabottom {
	padding: 0 0 10px 0;
}

.paraside {
	padding: 0 10px;
}

.none {
	padding: 0;
	margin: 0;
}

#wrapper {
	width: 980px;
	margin: 0 auto;
	text-align: left;
	color: #333333;
}

#header {
	width: 960px;
	overflow: hidden;
}

#headertop {
	float: left;
	width: 100%;
	height: 70px;
	overflow: hidden;
}

#logo {
	float: left;
	width: 300px;
	height: 99%;
	margin-top: 5px;
	overflow: hidden;
}

#flashad {
	float: right;
	width: 468px;
	height: 60px;
	margin-top: 5px;
	overflow: hidden;
}

#headerbottom {
	clear: both;
	width: 100%;
	height: 28px;
	margin-bottom: 3px;
	padding: 5px 0;
}

#menu {
	float: left;
	width: 90%;
	overflow: hidden;
}

#menu ul {
	list-style-type: none;
	margin-top: 1px;
	margin-bottom: 4px;
	padding: 2px 0 2px 0;
}

#menu ul li {
	display: inline;
	padding: 0 20px 0 10px;
}

#search {
	float: right;
	width: auto;
}

#mid {
	float: left;
	width: 960px;
	overflow: hidden;
}

#left {
	width: 672px;
	float: left;
	display: inline;
	border: 0px Orange solid;
}

#introcontainer {
	width: 99.5%;
	margin-bottom: 10px;
}

#introcontainer ul {
	margin-left: 20px;
}

#introcontainer ol {
	margin-left: 25px;
}

div.ybar {
	width: 100%;
	height: 4px;
	margin-bottom: 5px;
	overflow: hidden;
}

div.bbar {
	width: 100%;
	height: 4px;
	margin-bottom: 5px;
	overflow: hidden;
}

#services {
	float: left;
	width: 670px;
	margin-bottom: 10px;
}

div.services {	
	display: inline;
	width: 335px;
	height: 200px;
}

#webcontainer {
	float: left;
	/*margin-right: 10px;*/
	width: 330px;
}

#softcontainer {
	float: left;
	width: 330px;
	margin-left: 5px;
	display: inline;
}

div.services h3 {
	margin-bottom: 0;
	padding: 10px;
}

div.services ul {
	margin-left: 15px;
}

div.services ul li {
	padding: 5px 0;
}

div.services ol {
	margin-left: 25px;
}

#introcontainer h4, div.services h4 {
	padding: 0.5em 0;
}

#banners {
	float: left; 
	width: 99.8%; 
	margin-top: 10px;
	overflow: hidden;
}

#right {
	width: 281px;
	float: left;
	display: inline;
	margin-left: 4px;
}

div.container {
	width: 100%;
	margin-bottom: 10px;
}

div.container h3 {
	padding: 10px;
}

ul.nav {
	list-style-type: none;
}

ul.nav li {
	padding: 5px 10px;
}

div.container li {	display: block;}

ul.links {
	margin-left: 10px;	list-style-type: none;
	padding: 3px 0;
}

ul.links li {
	padding: 5px 0;
}

#footer {
	clear: both;
	width: 960px;
	text-align: left;
}

#footerex {
	float: right;
	width: 960px;
	height: 1px;
	overflow: hidden;
}

table.form td {
	padding: 5px;
}

fieldset {
	padding: 5px;
}

legend {
	padding: 10px 0;
}

input.button, .loginbutton {
	padding: 3px 5px;
}

table.contactinfo {
	margin-bottom: 10px;
}

table.contactinfo td {
	vertical-align: top;
	padding: 2px 5px;
}

table.articles, table.comments {	
	
}

table.comments {
	margin: 10px 0;
}

table.articles td, table.comments td {	
	padding: 0 0 20px 0;
}

table.comments td {
	padding: 20px 10px;
}

div.left {
	float: left;
}

div.message {
	padding: 5px 0;
}

div.code {
	padding: 0 0 10px 5px;
}

table.fcategory {
	width: 99%;
}

table.fcategory th, table.fcategory td {
	padding: 5px;
}

.inputtext, select {
	width: 350px;
	padding: 0.25em;
	margin-bottom: 0.75em;
}

.txtarea {
	width: 350px;
	padding: 0.25em;
	margin-bottom: 0.75em;
}

