/* Colors Styles for Admincontrol */

body {
    background-color: #778899;
}

h1 {
    color: #F0F8FF;
}

h1 a {
    color: #F0F8FF;
}

h1 small {
    color: Gold;
}

a {
    color: #4682B4;
}

.red {
    color: Red;
}

.blue {
    color: #4682B4;
}

h4 {
	color: #FFD700;
}

#wrapper {
    color: #444444;
    background-color: #FFFFFF;
    border-bottom: 1px #999999 solid;
}

#headertop {
    background: #000000 url('../images/headtile.jpg') repeat-x;
}

#headerbottom {
	background-color: #F5F5F5;
	border-bottom: 1px #DCDCDC solid;
}

div.logincontainer {
	background: #AFD2EB url('../images/tile.jpg') repeat-x;
	border: 1px #B0C4DE solid;
}

table.home th, table.homet th {
	background-color: #B0C4DE;
	border: 1px #B0C4DE solid;
	color: #444444;
}

.red {
	color: #FF0000;
}

ul.hmenu a {
	color: #778899;
}

ul.hmenu a:hover {
	color: #333333;
}

ul.menu {
    color: #778899;
}

ul.menu li {
    border-bottom: 1px #B0C4DE solid;
}

ul.menu li a {
    color: #555555;
}

ul.menu li a:hover {
    color: #333333;
}

#mid {
    background: #FFFFFF;
    background: #F0F8FF url('../images/bg.jpg') repeat-x;
    background: #AFD2EB url('../images/tile.jpg') repeat-x;
    border: 0px #DCDCDC solid;
}

table.loginform {
    font: bold 1em Arial;
}

div.container {
    border: 1px #B0C4DE solid;
    background: #AFD2EB url('../images/tile.jpg') repeat-x;
}

div.container h2, div.logincontainer h2 {
    color: #FFFF00;
    background: #AEB6BD url('../images/h2tile.jpg') repeat-x;
    background: none;
    color: Brown;
    border-bottom: 0px #DCDCDC solid;
}

div.container h3, div.logincontainer h3 {
    background-color: #778899;
    color: #FFFFFF;
    border-bottom: 1px #DCDCDC solid;
}

div.container h4 {
    color: #778899;
    background: #F0F8FF url('../images/tile.jpg') repeat-x;
    background: #B0C4DE url('../images/h5tile.jpg') repeat-x;
}

div.container h5 {
    background: none;
}

div.container h6 {
	background: none;
	color: #778899;
}

table.home td {
    border: 1px #B0C4DE solid;
    background: #F0F8FF url('../images/tile.jpg') repeat-x;
    background: #C8D3DD url('../images/tile2.jpg') repeat-x;
    background: #FFFFFF;
}

table.home td a:hover {
    color: #333333;
}

table.homet td {
    border: 1px #B0C4DE solid;
    background: #F0F8FF url('../images/tile.jpg') repeat-x;
    background: #C8D3DD url('../images/tile2.jpg') repeat-x;
    background: #FFFFFF;
}

table.homet td a:hover {
    color: #333333;
}

div.container h5 a {
    color: #333333;
}

table.list td a {
    color: #444444;
}

ul.list li, ul.list2 li {
    border-bottom: 1px #B0C4DE solid;
}

ul.list2 li {
    border: 0;
}

p.message, p.intro {
    color: #666666;
}

fieldset {
    border: 1px #F8F8FF solid;
}

legend {
    color: #4682B4;
}

table.grid td {
    border-bottom: 1px #B0C4DE solid;
}

table.grid td a {
    color: DarkGreen;
}

table.grid td a:hover {
    color: #000000;
}

#firstrow td {
    background: #F0F8FF url('../images/tile.jpg') repeat-x;
    color: #4682B4;
}

