/* Fonts Styles for Admincontrol */

input, select, textarea {
    font: normal 1em Arial, Verdana, Sans;
}

h1 {
    font: normal 1.7em "Segoe UI", Arial, Sans;
}

h1 a {
    font-size: 1.3em;
    font-weight: normal;
}

h1 small {
    font: bold 0.6em Arial, Verdana, Sans;
}

h4 {
	font: bold 0.9em Arial, Verdana, Sans;
}

.normal {
	font-weight: normal;
}

#wrapper {
	font: normal 0.75em Arial, Sans;
}

table {
	font: normal 0.8em Arial, Sans;
}

ul.hmenu {
	font: bold 0.9em Arial, Sans;
}

#logindiv {
	font-size: 1em;
}

.fragtype {
	font: normal 1.1em "Segoe UI", Arial, Sans;
}

ul.menu {
    font: bold 0.9em Arial, Sans;
}

div.container h2, div.logincontainer h2 {
    font: bold 1.1em Arial, Sans;
}

div.container h3, div.logincontainer h3 {
    font: bold 1em Arial, Verdana, Sans;
}

div.container h4 {
    font: bold 1em Arial, Verdana, Sans;
}

div.container h5 {
    font: bold 1em Arial, Verdana, Sans;
}

div.container h6 {
	font: bold 0.9em Verdana, Sans;
}

table.home {
    font: normal 1em Arial, Sans;
}

table.home td a {
    font: normal 1em Arial, Sans;
}

table.homet {
    font: normal 1em Arial, Sans;
}

table.homet td a {
    font: normal 1em Arial, Sans;
}

div.container h5 a {
    font: bold 1em Arial, Verdana, Sans;
}

table.list td a {
    font: bold 1em Arial;
}

ul.list2 li {
    font: normal 0.9em Arial, Sans;
}

p.message, p.intro {
    font: normal 1em Arial, Sans, Tahoma;
    background: #F0F8FF url('../images/tile.jpg') repeat-x;
}

fieldset {
    font: bold 1em Arial, Sans;
}

legend {
    font: bold 1em Arial, Sans;
}

table.form {
    font: bold 1em Arial, Verdana, Sans;
}

table.grid {
    font: bold 1em Arial, Verdana, Sans;
}

