@CHARSET "ISO-8859-1";

fieldset, legend {
	margin: 10px;
	padding: 10px;
}

fieldset {
	border: 1px #DCDCDC solid;
}

table.form {
	width: 100%;
	background: #B1B0B5 url('../images/cont.jpg') repeat-x;
	background: #FFFFFF url('../images/cont3.jpg') repeat-x;
	border: 1px #DCDCDC solid;
}

table.form td {
	vertical-align: top;
	padding: 4px 10px;
}

div.container h4, p {
	padding: 10px;
}

div.container ul {
	margin-left: 20px;
	padding: 10px;
}

