/* Layout Styles for Admincontrol */

body {
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6,p,form,blockquote {
    padding: 0.25em;
}

h1 {
    padding: 10px;
}

h1 a {
    text-decoration: none;
}

.inside {
    padding: 5px;
}

a:hover {
    text-decoration: none;
}

#wrapper {
    margin: 0 auto;
    width: 100%;
}

#header {
    width: 100%;
}

#headertop {
    width: 100%;
    float: left;
    height: 50px;
}

#logo {
	float: left;
	width: 30%;
}

#flashad {
	float: right;
	width: 50%;
	margin-top: 5px;
	text-align: right;
	padding-right: 10px;
}

#menubar {
	width: 100%;
}

#title {
    float: left;
    width: 30%;
}

#search {
    float: right;
    width: 65%;
    text-align: right;
    padding: 5px 10px;
}

#headbottom {
    clear: both;
    width: 100%;
    height: 2px;
    border: 0px Orange solid;
}

#menu {
    float: left;
    width: 60%;
}

#headerbottom {
	width: 100%;
	clear: both;
}

ul.hmenu {
	list-style-type: none;
	padding: 5px 0;
}

ul.hmenu li {
	display: inline;
	border-right: 1px #DCDCDC solid;
	padding: 5px 9px;
}

ul.hmenu li a {
	text-decoration: none;
}

#logindiv {
	width: 100%;
}

div.logincontainer {
	width: 100%;
	margin: 0 auto;
	padding-bottom: 20px;
}

#logindiv fieldset {
	width: 70%;
}

ul.menu {
    list-style-type: none;
    padding: 5px;
}

ul.menu li {
    padding: 3px 0;
}

ul.menu li a {
    text-decoration: none;
}

ul.menu li a:hover {
    text-decoration: underline;
}

#welcome {
    float: right;
    width: 15%;
    padding: 5px 0;
    text-align: center;
}

#mid {
    width: 99.5%;
    float: left;
    display: inline;
    margin-left: 3px;
    margin-top: 5px;
}

#homelogin {
    float: left;
    width: 100%;
}

#left {
    float: left;
    width: 80%;
}

#right {
    float: right;
    width: 19%;
}

#footer {
    clear: both;
    width: 100%;
}

table.footer {
}

table.footer td {
    padding: 5px;
}

table.loginform {
    width: 100%;
    text-align: left;
    height: 250px;
}

table.loginform td {
    padding: 2px 5px;
}


/* CONTAINER SPECIFIC CSS */

div.container {
    margin-bottom: 20px;
    width: 100%;
    padding-bottom: 20px;
}

div.container h2, div.logincontainer h2 {
    padding: 10px 5px 5px 5px;
    margin-bottom: 10px;
}

div.container h3, div.logincontainer h3 {
    padding: 5px;
}

div.container h4 {
    padding: 5px;
}

div.container h5 {
    padding: 5px 2px 10px 2px;
}

div.container h6 {
	padding: 5px 2px;
}

table.home {
    width: 100%;
}

table.home td {
    padding: 4px;
    vertical-align: top;
    width: 25%;
}

table.home td a {
    text-decoration: none;
}

table.home td a:hover {
    text-decoration: underline;
}

table.homet {
    width: 100%;
}

table.homet td {
    padding: 4px;
    vertical-align: top;
}

table.homet td a {
    text-decoration: none;
}

table.homet td a:hover {
    text-decoration: underline;
}

ul.right {
    list-style-type: none;
}

ul.right li {
    padding: 4px;
}

table.list {
    margin: 10px 0;
}

table.list td {
    padding: 6px 10px;
    vertical-align: top;
}

ul.list {
    margin: 5px 0 10px 5px;
    list-style-type: none;
}

ul.list2 {
    margin: 5px 0 0 20px;
    list-style-type: none;
}

ul.list li, ul.list2 li {
    padding: 3px 0;
}

p.more {
    margin-bottom: 10px;
}

p.right {
    text-align: right;
}

p.message, p.intro {
    padding: 10px 5px;
    margin-bottom: 10px;
}

/* INPUT FORMS SPECIFIC CSS */

fieldset {
    width: 90%;
    margin: 10px;
    margin-bottom: 20px;
    padding: 10px;
}

legend {
    padding: 10px;
}

table.form {
    width: 70%;
}

table.form td {
    padding: 2px 10px;
}

textarea {
	padding: 2px;
}

table.form td select {
    width: 300px;
}

input[type=text] {
	width: 300px;
}

input.inputtext {
	width: 300px;
}

table.form td input, table.form td select {
    padding: 2px;
}

input.button {
}

table.grid {
    width: 100%;
}

table.grid td {
    padding: 5px 10px;
}

table.grid td a {
    text-decoration: none;
}

table.grid td a:hover {
    text-decoration: underline;
}

table.home th, table.homet th {
	text-align: left;
	padding: 5px 3px;
}

