@CHARSET "ISO-8859-1";

#sddm {
	margin: 0;
	padding: 0;
	z-index: 30;
}

#sddm li {	
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
}

#sddm li a {
	display: block;
	margin: 0 1px 0 0;
	padding: 1px 5px;
	background: Transparent;
	color: #FFF;
	text-align: center;
	text-decoration: none;
}

#sddm li a:hover {	
	background: Transparent;
	color: #B0C4DE;
}

#sddm div {	
	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0px;
	background: #EAEBD8;
	border: 1px solid #5970B2;
}

#sddm div a {	
	position: relative;
	display: block;
	margin: 0;
	padding: 5px 10px;
	width: auto;
	white-space: nowrap;
	text-align: left;
	text-decoration: none;
	background: #EAEBD8;
	color: #2875DE;
	font: 11px arial;
}

#sddm div a:hover {	
	background: #49A3FF;
	color: #FFF;
}

